:root {
  --primary-color: #002ea1;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-size: 24px;
}
header {
  background-color: white;
  height: 110px;
}
.logo {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  margin-left: 50px;
}
.work-link {
  color: var(--primary-color);
  font-size: 12px;
  text-decoration: none;
  float: right;
}
.work-link:hover {
  text-decoration: underline;
}
#finland {
  /* Change this? Why padding is not working for word finland after <br>? */
  margin-left: 50px;
}

.nav {
  background-color: var(--primary-color);
  font-size: 16px;
}
.nav ul li {
  display: inline-block;
  padding: 10px;
}
.nav a,
.nav-item {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  /* padding: 5px; */
}
.nav a:hover {
  border-bottom: 3px solid white;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 0px;
  z-index: 1;
}
.dropdown-content li {
  padding: 0 16px;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content li:hover {
  background-color: lightgray;
}
.fa-search {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.right {
  float: right;
  /* padding: 5px 20px; */
}

#scroll-top-btn {
  display: none; 
  position: fixed; 
  bottom: 50px;
  right: 50px; 
  z-index: 100; 
  border: none; 
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--primary-color); 
  cursor: pointer;
  padding: 15px; 
  border-radius: 2px; 
  font-size: 18px;
  width: 50px; 
}

.container {
  padding: 30px;
}

/* hero banner */
.hero-banner {
  height: 25rem;
  background-image: url("https://source.unsplash.com/5fNmWej4tAA/1600x900");
  background-size: 100%;
  color: white;
  text-transform: uppercase;
}
.hero-banner-text {
  width: 50%;
  margin: auto;
  padding-top: 5rem;
}
.overlay {
  width: 100%;
  height: 25rem;
  background-color: rgba(0, 46, 161, 0.5);
  z-index: 2;
}
.categories,
.regions {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-gap: 1%;
}
h2 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 48px;
  margin: 0 0 15px;
}
.category-text,
.region-text {
  grid-column: span 4;
  margin: 50px 0;
}
.button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 3px;
  margin: 15px 0;
}
.field {
  background-color: var(--primary-color);
   min-height: 200px;
  margin: 3% 1%;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.field:hover {
  text-decoration: underline;
  box-shadow: inset 0px 0px 54px 24px rgba(0,0,0,0.5);
}

/* Categories images */
.academic {
  background: url("https://source.unsplash.com/5fNmWej4tAA/1400x900") no-repeat;
}
.engineering {
  background: url("https://source.unsplash.com/m9qMoh-scfE/1400x900") no-repeat;
}
.health {
  background: url("https://source.unsplash.com/hIgeoQjS_iE/1400x900") no-repeat;
}
.hospitality {
  background: url("https://source.unsplash.com/KoutQHtifo8/1400x900") no-repeat;
}
.ict {
  background: url("https://source.unsplash.com/npxXWgQ33ZQ/1400x900") no-repeat;
}
.manufacturing {
  background: url("https://source.unsplash.com/-fGqsewtsJY/1400x900") no-repeat;
}
.marketing {
  background: url("https://source.unsplash.com/5QgIuuBxKwM/1400x900") no-repeat;
}
.project-management {
  background: url("https://source.unsplash.com/Oalh2MojUuk/1400x900") no-repeat;
}
.service {
  background: url("https://source.unsplash.com/fMntI8HAAB8/1400x900") no-repeat;
}

/* Regions images */
.turku {
  background-image: url("https://source.unsplash.com/Vk8MqyygNak/1400x900");
}
.helsinki {
  background-image: url("https://source.unsplash.com/I9SWvZ9sO2U/1400x900");
}
.espoo {
  background-image: url("https://source.unsplash.com/iBjO3rbIHtg/1400x900");
}
.tampere {
  background-image: url("https://source.unsplash.com/5zLhWqntDQA/1400x900");
}
.oulu {
  background-image: url("https://source.unsplash.com/SfOHL8UVDxk/1400x900");
}
.talent-coastline {
  background-image: url("https://source.unsplash.com/v6IgcOoeBWA/1400x900");
}
.kuopio {
  background-image: url("https://source.unsplash.com/QRZ6NlAgxsg/1400x900");
}
.jyvaskyla {
  background-image: url("https://source.unsplash.com/6PSslT2Ep4U/1400x900");
}
.field {
  background-size: 100%;
}
footer {
  background-color: var(--primary-color);
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-gap: 1%;
  padding: 15px 20px;
  font-size: 16px;
  margin-top: 100px;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}
footer div {
  padding: 10px 0;
}